.listItem {
    font-family: 'Nunito', 'sans-serif';
    font-weight: bold;
    padding: 12px 16px;
    font-size: 16px;
    box-shadow: none;
    border: none;
    border-left: 5px solid #212529;
    list-style-type: none;
    text-align: left;
    max-width: 59%;
    transition: background-color 0.2s ease-in-out;
    color: #01143d;
}

.itemDiv {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 16px 32px;
    border-radius: 10px;
    padding: 20px 16px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.itemDiv div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center !important;
    margin-top: auto;
    margin-bottom: auto;
}

.listItemCompleted {
    padding: 12px;
    margin:6px;
    font-size: 16px;
    color:#7e8aa6;
    list-style-type: none;
}