.delete {
    font-size: 12px;
    background-color: white;
    color: white;
    padding: 20px;
    border: 2px solid #dfe2e8;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    transition-duration: 0.2s;
    background-image: url(../../assets/images/delete.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    image-rendering: auto;
}

.deleteAll {
    font-size: 12px;
    background-color:#5e0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-bottom: 24px;
    transition-duration: 0.2s;
}

.done {
    font-size: 12px;
    background-color:white;
    color: black;
    padding: 20px;
    border: 2px solid #dfe2e8;
    border-radius: 4px;
    margin-right: 8px;
    width: 35px;
    height: 35px;
    transition-duration: 0.2s;
    background-image: url(../../assets/images/checkmark.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    image-rendering: auto;
}

.delete:hover {
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 0px 7px 0 rgba(0,0,0,0.19);
    cursor: pointer;

}

.deleteAll:hover {
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 0px 7px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.done:hover {
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 0px 7px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.delete:active {
    outline:none;
}

.deleteAll:active {
    outline:none;
}

.done:active {
    outline:none;
}

.delete:focus {
    outline:none;
}

.deleteAll:focus {
    outline:none;
}

.done:focus {
    outline:none;
}

@media (max-width: 450px){
    .delete {
        width: 35px;
    }
    .done {
        width: 35px;
    }
}