.Content {
    text-align: center;
    width: 100%;
    transition: all 0.2 ease-in-out;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: #f2f4f6;
}

h3 {
    text-align: left;
}

textarea {
    width: auto;
    resize: none;
    font-family: 'Nunito', 'sans-serif';
}



@media (max-width: 750px) {
    .Content {
        width: 100%;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    input {
        width: 50%;
    }
}