.Content {
    text-align: center;
    width: 100% !important;
    transition: all 0.2 ease-in-out;
}

h3 {
    text-align: left;
}

textarea {
    width: auto;
    resize: none;
    font-family: 'Roboto', 'sans-serif';
}


@media (max-width: 550px) {
    .Content {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .Content {
        width: 300px;
    }

    input {
        width: 50%;
    }
}