.Header {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.24), 0 0px 25px 0 rgba(0,0,0,0.19);
}

.Header img {
    height: 58px;
    padding-left: 26px;
    image-rendering: auto;
}

.title {
    color: #01143d;
    margin-left: 8px;
}