.itemInput {
    font-size: 16px;
    border: none;
    background-color: white;
    width: 84%;
    font-family: 'Nunito', 'sans-serif';
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9ea7bc;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9ea7bc;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #9ea7bc;
  }

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    background-color: white;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.itemInput:focus {
    outline: none;
}

.itemAdd {
    font-size: 12px;
    background-color:white;
    color: white;
    border: 2px solid #dfe2e8;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-duration: 0.2s;
    background-image: url(../../assets/images/add2.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    image-rendering: auto;
}

.itemAdd:focus {
    outline: none;
}

.itemAdd:hover {
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 0px 7px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}