.itemInput {
    font-size: 16px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #212529;
    width: 84%;
    font-family: 'Roboto', 'sans-serif';
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 16px;
}

.itemInput:focus {
    outline: none;
}

.itemAdd {
    font-size: 12px;
    background-color:#006a4e;
    color: white;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-duration: 0.2s;
    background-image: url(../../assets/images/add2.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
}

.itemAdd:focus {
    outline: none;
}

.itemAdd:hover {
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 0px 7px 0 rgba(0,0,0,0.19);
    background-color:#00503b;
    cursor: pointer;
}