.completedTitle {
    margin-top: 64px;
}

p {
    margin-top: 200px;
    font-size: 12px;
}

a {
    color: #212529;
}

.emptyMessage {
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 64px;
}

@media (max-width: 550px) {
}