.completedTitle {
    margin-top: 64px;
}

body {
    background-color: #f2f4f6;
}

p {
    margin: 64px 0;
    font-size: 12px;
    color: #9ea7bc;
}

a {
    color: #9ea7bc;
    text-decoration: none;
}
a:hover {
    color: #081b42;
}

h3 {
    margin-left: 32px;
    margin-right: 32px;
    color: #081b42;
}

.emptyMessage {
    font-style: italic;
    color:#9ea7bc;
    margin-top: 64px;
    margin-left: 8px;
    margin-right: 8px;
}